<div id="todo_pagina">
  <%= simple_form_for @user, :url => url_for(:action => 'create', :controller => 'users') do |f| %>
    <%= f.input :student_number %>
    <%= f.input :name %>
    <%= f.association :color, collection: Color.all.map { |c| [c.name, c.id, { :hex_code => c.hex_code }] } %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit %>
  <% end %>

  <script>
  $("#user_color_id").change(function() {
  	$("#user_color_id").attr("style", "background-color: " + 
  		$("#user_color_id option:selected").attr("hex_code")
  		)
  });
  </script>
</div>